<!DOCTYPE html>
<!-- If you're reading this, you're definitely a pro hacker -->
<html data-theme="synthwave" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/output.css">
    <script
      src="https://kit.fontawesome.com/fc8f7ea611.js"
      crossorigin="anonymous"
    ></script>

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          
</head>
<body>
    <div class="index-wrap">
        <!-- Landing -->
        <div class="hero min-h-screen" style="background-image: url(/img/hero.jpg);">
          <div class="hero-overlay bg-opacity-60"></div>
          <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
              <h1 class="mb-5 text-5xl font-bold hero-h1">Here's Johnny!</h1>
              <p class="mb-5 text-lg">My name is Johnny McCollough Jr. and I am a</p>
              <div class="iama-wrap rounded-xl mt-5 flex flex-col">
              <span id="iama-father" class="text-lg">Father</span>
              <span id="iama-grad" class="text-lg">College Graduate</span>
              <span id="iama-sde" class="text-lg">Software Developer</span>
              <span id="iama-ps" class="text-lg">Problem Solver</span>
              </div>
              
            </div>
          </div>
        </div>

        <div class="my-mission w-full py-4 flex flex-col justify-center text-center items-center bg-primary-content">
          <div class="my-mission-content py-2 px-3 w-4/6">
            <h3 class="text-3xl mb-2">My Mission</h3>
          <p class="text-lg">My objective is to enhance the lives of others through the use of software. My passion for software development comes from a seasoned history in the field of tech, and enjoyment through solving complex problems. Technology is bound to continue improving as the years pass, and I aim to be a developer that will help shape an improved future for others.</p>
          </div>
          
        </div>


        <!-- My Work -->
        <div class="my-work p-5">
            <p class="text-3xl mt-2 mb-4">My Work</p>
            <div class="my-work-item-wrapper">

              <div class="my-work-item card w-96 bg-neutral-focus m-1 shadow-xl">
                <div class="card-body items-center text-center">
                  <h2 class="card-title">Music REST API</h2>
                  <p>CS-290 Course Project</p>
                  <p>REST API that serves information about artists from the 20th century. Includes auth and item ownership.</p>
                  <div class="card-actions">
                    <a href="https://two021-music-api.onrender.com">
                      <button class="btn btn-primary">Demo</button>
                    </a>
                    <a href="https://github.com/JMcc888/2021_Music_API">
                      <button class="btn btn-primary-content">Repo</button>
                    </a> 
                    
                  </div>
                  <p>Utilizes: MongoDB, Express.js, MailTrap, Node.js</p>
                </div>
              </div>
              
                <div class="my-work-item card w-96 bg-neutral-focus m-1 shadow-xl">
                    <div class="card-body items-center text-center">
                      <h2 class="card-title">Lisa's New Creations</h2>
                      <p>Junior Capstone Project</p>
                      <p>Full Stack salon application that interacts with a REST API to allow for appointments scheduling.</p>
                      <div class="card-actions">
                        <a href="https://salon-demo.onrender.com">
                          <button class="btn btn-secondary">Demo</button>
                        </a>
                        <a href="https://github.com/JMcc888/Capstone-Continued">
                          <button class="btn btnprimary-content">Repo</button>
                        </a>
                        
                      </div>
                      <p>Utilizes: MongoDB, FullCalendar, Express.js, Node.js</p>
                    </div>
                  </div>

                  <div class="my-work-item card w-96 bg-neutral-focus m-1 shadow-xl">
                    <div class="card-body items-center text-center">
                      <h2 class="card-title">OHNA</h2>
                      <p>Agency Solution</p>
                      <p>Full Stack application used by Open Hands Nursing Agency to streamline the client application process.</p>
                      <div class="card-actions">
                        <a href="https://ohna-demo.onrender.com">
                          <button class="btn btn-accent">Demo</button>
                        </a>
                        
                        <button class="btn btnprimary-content">Repo</button>
                      </div>
                      <p>Utilizes: MongoDB, Passport, Express.js, Node.js</p>
                    </div>
                  </div>
                  

              <div class="my-work-item card w-96 bg-neutral-focus m-1 shadow-xl">
                  <div class="card-body  items-center text-center">
                    <h2 class="card-title">ISDB</h2>
                    <p>Senior Capstone Project</p>
                    <p>Full Stack application that allows users to submit information about various artists and their work.</p>
                    <div class="card-actions">
                      <a href="https://isdb-demo.onrender.com">
                        <button class="btn btn-info">Demo</button>
                      </a>
                      <a href="">
                        <button class="btn primary-content">Repo</button>
                      </a>    
                    </div>
                    <p>Utilizes: MongoDB, Express, React, Redux + RTK Query Node.js</p>
                  </div>
          </div>

        </div>



        </div>
        <div class="my-tools p-12 w-full items-center flex flex-col bg-accent-focus">
            <p class="text-3xl">Tools I enjoy using:</p>

            <div class="my-work-icons w-5/12 lg:w-2/5 xl:w-4/5 flex flex-row items-center justify-center flex-wrap">
              <i class="devicon-react-original hover:text-blue-400 hover:rotate-180 transition duration-500 ease-in-out"></i>   

              <i class="devicon-typescript-plain hover:-rotate-12 hover:text-blue-800 transition duration-200 "></i>
            
              <i class="devicon-sass-original hover:text-pink-400 hover:rotate-12 transition duration-200"></i>
            
              <i class="devicon-css3-plain hover:-rotate-12 hover:text-blue-700 transition duration-200"></i>
  
              <i class="devicon-redux-original hover:rotate-180 hover:text-purple-800 transition duration-500"></i>
            
              <i class="devicon-postgresql-plain hover:-translate-y-1 hover:text-blue-900 transition duration-300"></i>
            
              <i class="devicon-php-plain hover:translate-y-1 hover:text-purple-600 transition duration-200"></i>
              
              <i class="devicon-express-original hover:-translate-y-1 hover:text-black transition duration-300"></i>
            
              <i class="devicon-git-plain hover:-rotate-12 hover:text-orange-500 transition duration-200"></i>
            
              <i class="devicon-javascript-plain hover:rotate-12 hover:text-yellow-400 transition duration-200"></i>
            
              <i class="devicon-html5-plain hover:translate-y-1 hover:text-orange-600 transition duration-300"></i>
  
              <i class="devicon-mysql-plain hover:-translate-y-1 hover:text-blue-900 transition duration-300"></i>
            
              <i class="devicon-mongodb-plain hover:translate-y-1 hover:text-green-600 transition duration-200"></i>
            
              <i class="devicon-nestjs-plain hover:rotate-12 hover:text-red-600 transition duration-200"></i>

              <i class="devicon-csharp-plain hover:-rotate-12 hover:text-purple-900 transition duration-200"></i>

              <i class="devicon-dotnetcore-plain hover:-translate-y-1 hover:text-purple-900 transition duration-200"></i>
            </div>

            
                    
        </div>

        <div class="contact-me bg-secondary-content w-full flex flex-col text-center">
          <h5 class="text-3xl mt-3">Contact Me</h5>
          <div class="contact-me-content-wrap flex flex-row justify-evenly flex-wrap">
            <div class="contact-me-text w-5/6 sm:w-3/6 flex justify-center items-center">
              <p class="text-2xl">I'd love to hear from you! Feel free to leave a message in the corresponding form and I'll respond as soon as possible. Whether you're leaving a message about song recommendations, or questions regarding working with me, I'll be glad to hear from you and discuss further and put my skills to use for your organization.</p>
            </div>

            <div class="form-wrapper flex flex-col items-center justify-center">
              <form class="card p-2 flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100  m-4" action="/"
              method="POST">
              <div class="card-body">
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Name</span>
                  </label>
                  <input type="text" placeholder="name" class="input input-bordered" required name="Name" />
                </div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Email</span>
                  </label>
                  <input type="email" placeholder="email" class="input input-bordered" required name="Email" />
                </div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Subject</span>
                  </label>
                  <input type="text" placeholder="subject" class="input input-bordered" required name="Subject" />
                </div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Message</span>
                  </label>
                  <textarea type="text" placeholder="Enter your message" class="input input-bordered" required name="Message"></textarea>
                </div>
                <div class="form-control mt-6">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
              
            </form>
        </div>
            
            

        </div>
     
        </div>

        <footer class="footer items-center justify-center p-10 bg-neutral text-neutral-content">
          <div class="flex mx-1">
            <a href="https://github.com/JMcc888"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/johnny-mccollough-07875424a/"><i class="fa-brands fa-linkedin-in"></i></a>
            
          </div>
        </footer>
    </div>
</body>
</html>