@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
    background-color: hsl(var(--p));
}


.index-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-work-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-tools i {
    font-size: 2.8rem;
    margin: 0.5rem;
}

/* .my-tools i:hover {
    color: aqua;
} */

@keyframes change-text {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: hsl(var(--a)); }
  }

.hero-h1 {
  overflow: hidden;
  border-right: .15rem solid hsl(var(--a));
  white-space: nowrap;
  margin: 0 auto;
  animation: change-text 3s steps(40, end), blink-caret .75s step-end infinite;
}

.iama-wrap {
    box-shadow: 0.5rem 0.5rem 2rem 0.5rem hsl(var(--p)),
    -0.5rem -0.5rem 2rem 0.5rem hsl(var(--s));
}

#iama-father {
    animation: flash 3s linear infinite;
}

#iama-grad {
    animation: flash 3s linear infinite;
    animation-delay: 0.3s;

}

#iama-sde {
    animation: flash 3s linear infinite;
    animation-delay: 0.6s;


}

#iama-ps {
    animation: flash 3s linear infinite;
    animation-delay: 0.9s;

}

@keyframes flash {
    0% {
        opacity: 0;
      }
    
      50% {
        opacity: 1;
        transform: scale(1.2);
      }
    
      100% {
        opacity: 0;
      }
  }

  .footer i {
    font-size: 2.8rem;
    margin: 0.5rem;
  }

  @media screen and (max-width: 400px) {
    .card {
        max-width: 320px;
    }
  }

  @media screen and (max-width: 450px) {
    .my-work-icons {
        width: 100%;
    }

  }

  @media screen and (max-width: 600px) {
    .hero {
        background-position: 40%;
    }
    
}

  @media screen and (max-width: 803px) {
    .contact-me-content-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}

@media screen and (max-width: 500px) {
    .my-mission-content {
        width: 90%;
    }
}


/* @media screen and (max-width: 420px) {
    .form-wrapper {
        background-color: brown;
    }
} */